:root{
    font-size: 62.5%;
}
*{
    all:unset;
    display: revert;
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'SF Pro Display',
    sans-serif;
    word-spacing: .1rem;
}
:any-link{
    cursor: pointer;
}
.link-style{
    color: #0066CC;
    &:hover{
        text-decoration: underline;
    }
}
.container{
    max-width: 65%;
    margin: 0 auto;
}
h2{
    font-size: 5.6rem;
}
h3 {
    font-size: 2.8rem;
}
h4{
    font-size: 4rem;
}
h2,h4{
    font-weight: 600;

}
h5{
    font-size: 2.1rem;
}
h3,h5{
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1;
}
hr{
    border-bottom: .1rem solid #d2d2d7;
    margin: .8rem 0;
}